.txn__detials
{
    padding: 1rem;
}

.txn__details__row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txn__emails
{
    display: flex;
    flex-wrap: wrap;
}


.txn__emails .email
{
    border-radius: 5px;
    background-color: #8cdeca;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.txn__emails :hover
{
    cursor: pointer;
}

.model__footer__buttons
{
    display: flex;
    justify-content: space-between;
}


.friends__heading
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.friends__table
{
    width: 80% !important;
    margin: auto;
}

.transactions__table
{
    width: 80% !important;
    margin: auto;
    padding: auto;
}

.button_styled
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    padding: 5px;
    align-items: center;
}

.button_styled:hover
{
    cursor: pointer;
}

.transaction_form
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.transaction_form_details
{
    width: 100%;
}

.txn__emails
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.model__footer__buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}